/*Main*/

* {
    padding: 0;
    margin: 0;

}

.page_header {
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;

}

.container {
    width: 1170px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    /*font-size: 0;*/

}

.logo {
    float: left;
}

.logo_name {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 40px;
}

.main_nav {
    overflow: hidden;
    float: right;

}

.main_nav_item {
    display: inline-block;

}

.main_nav_item a {
    text-decoration: none;
}

.empty_place {
    background-color: #e2e2e2;
    width: 250px;
    height: 70px;
    float: left;

}

.my_product {
    display: inline-block;
    overflow: hidden;
    float: left;

}

.my_product_item a {
    text-decoration: none;
}

.product_pictures {
    float: left;
    width: 240px;
    overflow: hidden;

}

.product_pictures_item {
    float: left;
    width: 33%;
}

.contact_info {
    float: left;
    overflow: hidden;

}

.produkt_menu {
    margin-top: 30px;
}

.produkt_menu_item {
    display: inline-block;
}

