* {
    padding: 0;
    margin: 0;
}

.page_header {
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0;
}

.logo {
    float: left;
    text-align: center;
}

.logo_name {
    font-family: HeliosCond Bold;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.info {
    width: 930px;
    float: right;
}

.header_top {
    border-bottom: 1px solid #d7d7d7;
    overflow: hidden;
}

.main_nav {
    float: left;
    width: 720px;
}

.main_nav_item {
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

.main_nav_item a {
    display: inline-block;
    padding-bottom: 8px;
    text-decoration: none;
    color: #333333;
    font-family: Roboto;
    font-size: 12px;
    padding-right: 22px;
}

.user_block {
    float: right;
    width: 210px;
    text-align: right;
    line-height: 14px;
}

.login {
    padding-right: 26px;
    position: relative;
}

.login:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: #333333;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 1px;
}

.main_nav_item:last-child a {
    padding-right: 0;
}

.header_bottom {
    padding-top: 17px;
}

.column {
    float: left;
}

.empty_place {
    background-color: #e2e2e2;
    width: 250px;
    height: 70px;
    margin-right: 30px;
}

.my_product {
    width: 140px;
    font-family: Roboto;
    font-size: 12px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.my_product_item {
    list-style: none;
}

.my_product_item a {
    color: #333333;
    display: inline-block;
    padding-bottom: 12px;
}

.basket {
    position: relative;
}

.basket:before {
    content: url(./img/basket.png);
    position: absolute;
    width: 34px;
    height: 31px;
    left: -34px;
    top: -12px;
}

.favorites {
    position: relative;
}

.favorites:before {
    content: url(./img/favorites.png);
    position: absolute;
    width: 15px;
    height: 14px;
    left: -26px;
    top: -1px;
}

.comparison {
    position: relative;
}

.comparison:before {
    content: url(./img/comparison.png);
    position: absolute;
    width: 46px;
    height: 50px;
    left: -40px;
    top: -16px;
}

.product_pictures {
    margin-right: 26px;
    text-align: center;
    display: table;
    border-spacing: 12px 0;
}

.product_pictures_item {
    border: 1px solid #d7d7d7;
    width: 70px;
    height: 70px;
    margin-right: 12px;
    vertical-align: middle;
    display: table-cell;
}

.contact_info {
    margin-bottom: 30px;
    width: 192px;
    float: right;
}

.work_hours {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin-right: 22px;
}

.time_hours {
    font-family: Roboto;
    font-size: 12px;
    float: right;
}

.tel {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
}

.city {
    font-family: Roboto;
    font-size: 12px;
    float: left;
    margin-right: 84px;

}

.change_city {
    font-family: Roboto;
    font-size: 12px;
    float: right;
    border-bottom: 1px dotted #333333;
    position: relative;
}

.change_city:before {
    content: url(./img/change.png);
    position: absolute;
    width: 3px;
    height: 3px;
    top: 2px;
    left: -10px;
}

.product_menu {
    float: left;
    width: 100%;
    height: 34px;
    background-color: #333333;
    border-radius: 8px;

}

.product_menu_item {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
}

.product_menu_item a {
    display: inline-block;
    text-decoration: none;
    color: #d4d4d4;
    padding: 8px 17px;
}

.product_menu ul {
    font-size: 0;
    float: right;
    width: 1130px;
    text-align: right;
}

.search {
    float: left;
    width: 40px;
    height: 34px;
    padding: 7px 11px;
    background-color: #ffcc00;
    border-radius: 8px 0 0 8px;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: center;
}

.drills {
    background-color: #ffcc00;
    padding: 0 7px;
}

.drills a {
    color: #333333;
}

.sale {
    margin-left: 54px;
}

.sale a {
    color: #333333;
    font-weight: bold;
    background-color: #ffcc00;
    border-radius: 0 8px 8px 0;
}